<ul class="product">
	<li>
		<h2>Italian Ice</h2>
		<div class="row">
			<img width="300" height="164" />
			<p>Ice for All. We believe it’s everyone’s right to indulge in our legendary Italian Ice. If you’ve never tried our signature classic, we think you’ll find it puts the snow cone to shame. Much smoother and made with real fruit, it’s served daily within 36 hours of mixing. That’s pretty darn fresh.Did we mention it’s Trans-Fat Free? And with dozens of refreshing flavors you can have an Ice day, every day.</p>
			<a href-"#">See Flavors &#62;</a>
	</div>
	</li>
	<li>
		<h2>Cream Ice</h2>
		<div class="row">
			<img width="300" height="164" />
			<p>“Cream Ice” is actually “Ice Cream” backwards. (See what we did there.) That’s because it’s more creamy than icy. Smooth, silky and full of indulgent flavor, one taste and you’ll soon forget all about its lesser counterpart.</p>
					<a href-"#">See Flavors &#62;</a>
	</div>
	</li>
	<li>
		<h2>Sugar-Free Italian Ice</h2>
		<div class="row">
			<img width="300" height="164" />
			<p>This one’s for all you sugar-watchers out there. Rita’s Sugar-Free Italian Ice is sweetened with Splenda® Brand Sweetener. Tastes so good, you won’t believe it’s Sugar-Free. But we swear on our sprinkles it’s true.</p>
					<a href-"#">See Flavors &#62;</a>
	</div>
	</li>

</ul>
